<div class="container-fluid container-gray py-5">
    <div class="container">
        <div class="row">
          <%= render('sidebar') %>
            <div class="col-xl-8">
              <%= render('statistics') %>
                <div class="card">
                    <div class="card-body">
                  <h3 class="mb-3">All Employees</h3>
                  <table class="table table-bordered">
                    <tbody>
                    <tr>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Phone Number</th>
                       <th>Location</th>
                       <th>Actions</th>
                    </tr>
                    <% @employees.each do |employee| %>
                    <tr>
                      <td><%= employee.name %></td>
                      <td><%= employee.email %></td>
                      <td><%= employee.phone_number %></td>
                      <td><%= employee.location %></td>
                      <td>
                        <a href="<%= edit_user_path(employee) %>" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-sm" data-remote="true">Edit</a>
                        <a href="<%= user_path(employee) %>" class="btn btn-danger btn-sm" data-method="delete" data-confirm="Are you sure to delete this user?">Delete</a>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Code Start -->
  <div class="modal_div"></div>
<!-- Modal Code End -->
