<div class="container">
    <h2>Get booked online for your course.</h2>
  <br><br>
  <p>Easy for students to find you.</p>
  <br><br>
  <p>Students can sign up for your course online.</p>
  <br><br>
  <p>View comments and ratings about your course.</p>
  <br><br>
  <p>And many more ...</p>
</div>

<div class="container">
  <div class="container-fluid container-top py-4">
    <div class="container container-signup container-sign p-4">
      <div class="modal-login-body">
        <div class="row align-items-center">
          <div class="col-md-6 b-left">
            <%= form_for(@user) do |f| %>
            <%#= devise_error_messages! %>
              <div class="form-group">
                <p>I am an: </p>
                <% User.user_types.keys.each do |user_type| %>
                  <%= f.radio_button :user_type, user_type %>
                  <%= f.label user_type.to_sym %>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, autocomplete: 'off' ,required: true, placeholder: 'Name', class: 'form-control login-form' %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email,required: true, placeholder: 'Email', class: 'form-control login-form', required: true %>
              </div>

              <div class="form-group">
                <%= f.label :phone_number %>
                <%= f.text_field :phone_number, required: true, placeholder: 'Phone number', class: 'form-control login-form' %>
              </div>

              <div class="form-group">
                <%= f.label :location %>
                <%= f.text_field :location, required: true, placeholder: 'City, State', class: 'form-control login-form' %>
              </div>

              <div class="actions">
                <%= f.submit "Get Started for free!", class: 'btn btn-primary btn-block' %>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
