<div class="jumbotron rounded-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">
      <div class="row">
          <div class="col-1"></div>
          <div class="col-10"><h2>Apply Once. Get More Interview</h2></div>
        </div>
        <div class="row">
          <div class="col-1 pt-1"><i class="far fa-handshake icons-main"></i></div>
          <div class="col-10"><p class = "white-text">Get job offers from different employers</p></div>
        </div>
        <div class="row">
          <div class="col-1 pt-1"><i class="far fa-bell icons-main"></i></div>
          <div class="col-10"><p class = "white-text">Receive alert notification to renew your D & G license before <br> they expire </p></div>
        </div>
        <div class="row">
        <div class="col-1 pt-1"><i class="fas fa-search icons-main"></i></div>
        <div class="col-10"><p class = "white-text">Find a reputable instructor to renew your license <br>near you </p></div>
      </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10"><br><br><p class = "white-text">And many many more ... </p></div>
        </div>

    <!--    <div class="data pl-md-5">
              <div class="content ">
                  
              <h2>Apply Once. Get More Interview</h2><br>
              <p class = "white-text">Get job offers from different employers</p>
              <p class = "white-text">Receive alert notification to renew your D & G license before <br> they expire </p>
              <p class = "white-text">Find a reputable instructor to renew your license <br>near you </p>
              <br><br><p class = "white-text">And many many more ... </p>
              </div>
        </div> -->
      </div>
      
          <div class="col-md-6 col-12">
            <div class="form">
              <%= form_for(@user) do |f| %>
                  <%#= devise_error_messages! %>
                <div class="form-group">
                  <label>I am an: </label>
                  <div class="row">
                     <% User.user_types.keys.each do |user_type| %>
                        <div class="form-check form-check-inline col-md-3 col-12">
                          <%= f.radio_button :user_type, user_type, {class: 'form-check-input'} %>
                          <%= f.label user_type.to_sym, {class:'form-check-label'} %>
                        </div>
                     <% end %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, autofocus: true, autocomplete: 'off' ,required: true, placeholder: 'Name', class: 'form-control col-12' %>
                </div>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email,required: true, placeholder: 'Email', class: 'form-control col-12', required: true %>
                </div>

                <div class="form-group">
                  <%= f.label :phone_number %>
                  <%= f.text_field :phone_number, required: true, placeholder: 'Phone number', class: 'form-control col-12' %>
                </div>

                <div class="form-group">
                  <%= f.label :location %>
                  <%= f.text_field :location, required: true, placeholder: 'City, State', class: 'form-control col-12' %>
                </div>

                <div class="row">
                  <div class = "col-12 text-center">
                      <%= f.submit "Get Started for free!", class: 'btn btn-primary btn-md text-centre' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          </div>
   </div>
</div>